.main {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
}
.conteudo {
    background-color: #EDEDED;
    border-radius: 30px;
    box-shadow: 1px 1px 10px #777777;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 20px;
    width: 400px;
}